<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WSSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://n215-teacher:8089/ws.asmx" binding="basicHttpBinding"
                bindingConfiguration="WSSoap" contract="WS.WSSoap" name="WSSoap" />
        </client>
    </system.serviceModel>
</configuration>